 /* Style the submit button */
 input[type=submit] {
    background-color: #4CAF50;
    color: white;
    }

    /* The message box is shown when the user clicks on the password field */
    #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
    }

    #message{
    padding: 10px 45px;
    width:50%;
    }

    /* Add a green text color and a checkmark when the requirements are right */
    .valid {
    color: green;
    }

    .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
    }

    /* Add a red text color and an "x" when the requirements are wrong */
    .invalid {
    color: red;
    }

    .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
    }

    #img{
       border-radius: 50%;
       position: relative;
       left: 15%;
       bottom: 10px;
    }
 .img{
    border-radius: 50%;
    position: relative;
    width: 60px;
    height: 60px;

 }